.About-title h1 {
    font-size: 32pt;
    font-weight: 500;
}

.About-container {
    width: 80%;
}

.Priority-title h2 {
    font-size: 20pt;
    font-weight: 400;
}

.Me h2 {
    font-size: 24pt;
    font-weight: 400;
}