.Footer {
    background-color: #1B242F;
}

.Icon {
    transition-duration: 0.3s;
    background-color: #262f38;
}

.Up-Icon {
    background-color: #10b981;
}

.Icon:hover {
    background-color: #10b981;
}

.Icon i {
    color: white;
}

.Copyright {
    font-size: 13pt;
}