.Navbar {
    top: calc(0.5 * 100vh);
    right: 3%;
}

.Drawer-body {
    padding: 0 !important;
}

.Drawer-body div {
    width: 100%;
}

.nav-link {
    padding: 10pt 0;
    transition-duration: 0.5s;
    font-size: 14pt;
}